body {
    transform-style: preserve-3d;
    perspective: 600px;
    background: url(bg.jpg) no-repeat;
    background-size: 100%;
}
*{
  margin: 0;
  padding: 0;
}
.text{
  position: absolute;
  left: 5.5vw;
  top: 4vh;
  width: 80vw;
  height: 57vh;
  transform: rotateX(4deg);
  font-family: f1;
  padding: 2vw;
  font-size: 14px;
  opacity: 0.7;
}
@font-face {
  font-family: f1;
  src: url(f1.ttf);
}
@font-face {
  font-family: f2;
  src: url(f2.ttf);
}
